@font-face {
  font-family: 'Cafe24 Ssurround air';
  src: url("../font/Cafe24Ssurroundair.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cafe24 Ssurround air';
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 9;
}

header > div {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

header > div a {
  color: #fff;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: inline-block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  display: inline-block;
  padding: 0 2%;
}

header > div .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  cursor: pointer;
  display: none;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-child(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header > div .trigger-menu span:nth-child(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

footer {
  padding: 100px 0;
  text-align: center;
}

.visual > img {
  width: 100%;
}

.service {
  padding: 100px 0;
  text-align: center;
}

.service h2 {
  font-size: 54px;
}

.service p {
  color: #555;
}

.service ul {
  width: 70%;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.service ul li {
  width: 30%;
}

.service ul li::before {
  content: '';
  width: 53px;
  height: 53px;
  display: block;
  margin: 5% auto;
}

.service ul li b {
  font-weight: bold;
}

.service ul li p {
  color: #555;
  line-height: 1.6;
  margin-top: 2%;
}

.service ul li:nth-child(1)::before {
  background: url("../img/ic_01.png") no-repeat;
}

.service ul li:nth-child(2)::before {
  background: url("../img/ic_02.png") no-repeat;
}

.service ul li:nth-child(3)::before {
  background: url("../img/ic_03.png") no-repeat;
}

.about {
  padding: 100px 0;
  background: #f2f2f1;
}

.about .profile {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.about .profile .left {
  width: 40%;
}

.about .profile .right {
  width: 50%;
}

.about .profile .right h2 {
  font-size: 54px;
}

.about .profile .right p {
  color: #555;
}

.about .profile .right ul li {
  margin-bottom: 20px;
}

.about .profile .right ul li > p {
  background-color: #ddd;
}

.about .profile .right ul li > p > span {
  background: #fed136;
  color: #fff;
  text-align: right;
  padding: 1%;
  display: block;
}

.about .profile .right ul li:nth-child(1) > p > span {
  width: 90%;
}

.about .profile .right ul li:nth-child(2) > p > span {
  width: 70%;
}

.about .profile .right ul li:nth-child(3) > p > span {
  width: 90%;
}

.about .profile .right ul li:nth-child(4) > p > span {
  width: 40%;
}
/*# sourceMappingURL=sub.css.map */